{% extends 'base.html'%}
{% block content %}
<img src="static/main_image.jpg" alt="Main Image" class="full-width-image">
<div class="row-images">
    <div class="caption">
       <a href="/unstitch">
        <img src="static/unstitch.gif" alt="unstitch">
        <h3>UNSTITCH</h3>
       </a>
    </div>
    
    <div class="caption">
        <a href="">
            <img src="static/pret.gif" alt="PRET">
            <h3>PRET</h3>
        </a>
    </div>

    <div class="caption">
        <a href="">
            <img src="static/hand bag.jpg" alt="HANDBAG">
            <h3>HAND BAG</h3>
        </a>
    </div>
</div>
<div class="row-images">
    <div class="caption">
        <a href="">
            <img src="static/bottom.jpg" alt="BOTTOM">
            <h3>BOTTOM</h3>
        </a>
    </div>

    <div class="caption">
        <a href="">
            <img src="static/footwear.jpg" alt="FOOTWEAR">
            <h3>FOOTWEAR</h3>
        </a>
    </div>

    <DIV CLASS="caption">
        <a href="">
        <img src="static/outerwaer.jpg" alt="OUTERWEAR">
        <h3>OUTER WAER</h3>
        </a>
    </DIV>
</div>
{% endblock%}