{% extends 'base.html' %}
{% block style%}
    <style>
        .main-container {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 800px;
            width: 100%;
        }

        .image-container {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
        }

        .image-container img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
        .main-container {
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            max-width: 800px;
            width: 100%;
        }
        .info-container {
            padding-left: 30px;
            margin: 20px;
            font-size: 16px; 
            
        }
        .info-container button{
            margin-top: 20px;
            border: none;
            background-color: rgba(232, 110, 110, 0.652);
            padding:10px;
            font-weight: bold;
        }
        .info-container button:hover{
            background-color:rgba(233, 127, 127, 0.652) ;
        }
        .center-image img{
            width: 450px;
        }
        #quantity-container {
            display: flex;
            align-items: center;
          }
      
          #quantity {
            width: 40px;
            text-align: center;
            margin: 0 10px;
          }
      
          #increment, #decrement {
            cursor: pointer;
            font-size: 18px;
          }
    </style>
{% endblock%}
{% block content %}
    <div class="main-container">
        <div class="image-container">
                <img src='/{{product.image1_url}}' alt="image1">
                <img src='/{{product.image2_url}}' alt="image2">
                <img src='/{{product.image3_url}}' alt="image3">
                <img src='/{{product.image4_url}}' alt="image4">
        </div>
        <div class="center-image">
            <img src="/{{product.image1_url}}" alt="LOADING">
        </div>
        <div class="info-container">
            <p style="font-size: large;"><b>{{product.name}}</b></p>
            <p style="font-size: small;">{{product.description}}</p>
            <p><b>Rs.{{product.price}}</b></p>
            <!--<p><b>STOCK:</b>{{product.stock}}</p>-->
            <form action="{{url_for('addtocart',product_id = product.product_id)}}" method="POST">
                <div id="quantity-container">
                    <div id="decrement" onclick="decrementQuantity()">-</div>
                    <input type="text" id="quantity" name="quantity" value="1" readonly>
                    <div id="increment" onclick="incrementQuantity()">+</div>
                  </div>
                  {% if size_chart %}
                    <table>
                        <tr>
                            <td>Size</td>
                            {% for size in size_chart%}
                              <button onclick="changesize()"><th>{{size.size}}</th></button>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td></td>
                            {% for size in size_chart%}
                                <td>{{size.stock}}</td>
                            {% endfor%}
                        </tr>
                        <tr>
                            <td>Length</td>
                            {% for size in size_chart%}
                                <td>{{size.length}}</td>
                            {% endfor%}
                        </tr>
                        <tr>
                            <td>shoulder</td>
                            {% for size in size_chart%}
                                <td>{{size.shoulder}}</td>
                            {% endfor%}
                        </tr>
                        <tr>
                            <td>Chest</td>
                            {% for size in size_chart%}
                                <td>{{size.chest}}</td>
                            {% endfor%}
                        </tr>
                        <tr>
                            <td>hip</td>
                            {% for size in size_chart%}
                                <td>{{size.hip}}</td>
                            {% endfor%}
                        </tr>
                    </table>
                    
                </form>
                  {% endif%}
               <!-- <p><b>TOTAL SALES:</b></p>-->
                <button>ADD TO BAG</button>
            </form>
            <form action="/uploadimage" method="POST">
                <label for="image">image</label>
                <input type="file" id="image" name="image">
                <button>submit</button>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        // JavaScript functions to handle quantity changes
        function incrementQuantity() {
          var quantityInput = document.getElementById('quantity');
          var currentQuantity = parseInt(quantityInput.value, 10);
          
          // Increment the quantity, and update the input value
          quantityInput.value = currentQuantity + 1;
        }
      
        function decrementQuantity() {
          var quantityInput = document.getElementById('quantity');
          var currentQuantity = parseInt(quantityInput.value, 10);
      
          // Ensure the quantity is not less than 1
          if (currentQuantity > 1) {
            // Decrement the quantity, and update the input value
            quantityInput.value = currentQuantity - 1;
          }
        }

        //change size
        function changesize(){
            var size = document.getElementById('');
        }
      </script>
      {% endblock%}
